#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 3rem;
}

#video-gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 3rem;
}

.video-container {
    position: relative;
    padding-bottom: 2rem;
    border-bottom: 2px solid #ccc;
}

.video-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4rem;
    color: white;
    cursor: pointer;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.gallery-item {
    width: 250px;
    height: 150px;
    border: 1px solid #9ae4b9;
    transition: all 0.3s ease;
}

.fade-in {
    animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gallery-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.2);
}

.animate-item {
    width: 250px;
    height: 150px;
    background: linear-gradient(-45deg, #9ae4b9, #f3f6f4, #9ae4b9);
    background-size: 400% 400%;
    border: none;
    animation: gradient 3s ease infinite;
}

.animate-videoitem {
    width: 480px;
    height: 360px;
    background: linear-gradient(-45deg, #9ae4b9, #f3f6f4, #9ae4b9);
    background-size: 400% 400%;
    border: none;
    animation: gradient 3s ease infinite;
}

.description {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

@media(max-width: 1000px) {
    .animate-videoitem {
        width: 80vw;
        height: 400px;
        z-index: 2;
    }
}

@media(max-width: 500px) {
    .animate-videoitem {
        width: 75vw;
        height: 250px;
        z-index: 2;
    }
}

