#dates {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
    cursor: pointer;
}

.date {
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.date:hover {
    color: #9ae4b9;
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
    }
}

@media (max-width: 700px) {
    #gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}