.fact-group {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid #e0e0e0;
}

.title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 2rem 0 0;
}

.description {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
}