
#home {
  position: relative;
}
  
#home-main {
  height: 100vh;
  display: flex;
}

#home-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#home-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
#home-main h2 {
  font-size: 3.5rem;
}

#home-main p {
  font-weight: 100;
  font-size: small;
}

#home-about, #home-portfolio, #home-resume, #home-blog {
  background-color: #2A1B37;
  position: relative;
  height: 100%;
}

/* Pseudo Elements */

#home-about:before, #home-resume:before, #home-portfolio:before, #home-blog:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  transition: opacity 0.5s;
}

#home-about:before {
  background: url('../img/chair.jpeg') no-repeat center center/cover;
  opacity: 0.3;
}

#home-resume:before {
  background: url("../img/TV.jpg") no-repeat center center/cover;
}

#home-portfolio:before {
  background: url("../img/leg.jpeg") no-repeat center center/cover;
}

#home-blog:before {
  background: url("../img/flower.jpeg") no-repeat center center/cover;
}

#home-about:hover:before, #home-resume:hover:before, #home-portfolio:hover:before, #home-blog:hover:before {
  opacity: 0.2;
}

#home-about:hover:before {
  opacity: 0.1;
}

.on-show:before {
  opacity: 0.2 !important;
}

.on-show:hover .home-content, .on-show:hover .btn {
  transform: translateY(20px) !important;
}

.home-content {
  z-index: 1;
  color: #fff;
  transform: translateY(20px);
  transition: transform 0.5s ease-in;
}

.home-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-flex:hover .home-content {
  transform: translateY(0px);
}

.btn {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 0.7px solid;
  font-size: 0.6rem;
  padding: 0.7rem;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 15px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.home-flex:hover .btn {
  opacity: 1;
  transform: translateY(0px);
}

/* Show Book Animation */

.animate-left {
  animation: book-leftside-open 1s forwards;
}

.animate-right {
  animation: book-rightside-open 1s forwards;
}

.keep-left {
  transform: translateX(-30vw);
}

.keep-right {
  transform: translateX(30vw);
}

.animate-left-reverse {
  animation: book-leftside-open 1s reverse;
}

.animate-right-reverse {
  animation: book-rightside-open 1s reverse;
}

@keyframes book-leftside-open {
  from {transform: translateX(0);}
  to {transform: translateX(-30vw);}
}

@keyframes book-rightside-open {
  from {transform: translateX(0);}
  to {transform: translateX(30vw);}
}

#book-top {
  position: absolute;
  top: 0;
  left: 20vw;
  border: solid;
  border-width: 0 0 0 0;
  border-color: #333 transparent transparent transparent;
}

#book-bottom {
  position: absolute;
  bottom: 0;
  left: 20vw;
  border: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent #333 transparent;
}

.animate-top {
  animation: book-up-open 1s forwards;
}

.animate-bottom {
  animation: book-down-open 1s forwards;
}

.animate-top-reverse {
  animation: book-up-open 1s reverse;
}

.animate-bottom-reverse {
  animation: book-down-open 1s reverse;
}

@keyframes book-up-open {
  from {
    border-width: 50px 0 0 0;
    left: 50vw;
  }
  to {
    border-width: 0 30vw 0 30vw;
    left: 20vw;
  }
}

@keyframes book-down-open {
  from {
    border-width: 0 0 50px 0;
    left: 50vw;
  }
  to {
    border-width: 0 30vw 0 30vw;
    left: 20vw;
  }
}

/* Show inner Pages */

.book-container {
  position: absolute;
  top: 0;
  left: 20vw;
  height: 100vh;
  width: 60vw;
  color: #000;
  display: none;
  text-align: center;
  padding: 2rem 2rem;
  overflow: auto;
}

.book-container:focus {
  outline: none;
}

.book-container h1 {
  margin: 2rem 0;
  font-weight: 100;
  font-size: 3rem;
}

.book-container p {
  margin: 0 2rem;
}

.btn-close {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  height: 40px;
  width: 40px;
  position: sticky;
  top: 0;
  display: block;
  float: right;
}

.btn-close .cross {
  position: absolute;
  left: 20px;
  top: 5px;
  height: 30px;
  width: 1px;
  background-color: black;
  transform: rotate(45deg);
}

.btn-close .cross::before {
  content: '';
  height: 30px;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  display: block;
  transform: rotate(90deg);
}

.show {
  display: block;
}

.animate-text {
  animation: text 0.2s;
}

.animate-text-reverse {
  animation: text 0.2s reverse;
}

@keyframes text {
  from {
    transform: translateY(30px);
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    visibility: visible;
  }
}

@media (max-width: 1000px) {
  #home-main {
    height: 200vh;
    display: flex;
    flex-direction: column;
  }

  #home-left {
    height: 100vh;
  }

  #home-right {
    height: 100vh;
  }

  .book-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }
    
  .animate-mobile {
    animation: book-open 1s forwards;
  } 

  .keep-mobile {
    transform: translateX(100vw);
  }

  .animate-reverse-mobile {
    animation: book-open 1s reverse;
  }

  @keyframes book-open {
    from {transform: translateX(0);}
    to {transform: translateX(100vw);}
  }

  #book-top {
    position: fixed;
    top: 0;
    left: 0;
    border: solid;
    border-width: 0 0 0 0;
    border-color: #333 transparent transparent transparent;
  }

  #book-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    border: solid;
    border-width: 0 0 0 0;
    border-color: transparent transparent #333 transparent;
  }

  .animate-top-mobile {
    animation: book-up-mobile 1s forwards;
  }

  .animate-bottom-mobile {
    animation: book-down-mobile 1s forwards;
  }

  .animate-top-reverse-mobile {
    animation: book-up-mobile 1s reverse;
  }

  .animate-bottom-reverse-mobile {
    animation: book-down-mobile 1s reverse;
  }

  @keyframes book-up-mobile {
    from {
      border-width: 50px 0 0 0;
      left: 0;
    }
    to {
      border-width: 0 100vw 0 0;
      left: 0;
    }
  }

  @keyframes book-down-mobile {
    from {
      border-width: 0 0 50px 0;
      left: 0;
    }
    to {
      border-width: 0 100vw 0 0;
      left: 0;
    }
  } 
}