
#home-main {
  height: 100vh;
  display: flex;
}

#home-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#home-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.animate-left {
  animation: book-leftside-open 1s forwards;
}

.animate-right {
  animation: book-rightside-open 1s forwards;
}

.keep-left {
  transform: translateX(-30vw);
}

.keep-right {
  transform: translateX(30vw);
}

.animate-left-reverse {
  animation: book-leftside-open 1s reverse;
}

.animate-right-reverse {
  animation: book-rightside-open 1s reverse;
}

@keyframes book-leftside-open {
  from {transform: translateX(0);}
  to {transform: translateX(-30vw);}
}

@keyframes book-rightside-open {
  from {transform: translateX(0);}
  to {transform: translateX(30vw);}
}

@media (max-width: 1000px) {
  #home-main {
    height: 200vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  #home-left {
    height: 100vh;
  }
  
  #home-right {
    height: 100vh;
  }

  .animate-mobile {
    animation: book-open 1s forwards;
  } 
  
  .keep-mobile {
    transform: translateX(100vw);
  }
  
  .animate-reverse-mobile {
    animation: book-open 1s reverse;
  }
  
  @keyframes book-open {
    from {transform: translateX(0);}
    to {transform: translateX(100vw);}
  }
}