
:root {
  --text-animtaion-duration: 0.2s;
}

.book-container {
  position: absolute;
  top: 0;
  left: 20vw;
  height: 100vh;
  width: 60vw;
  color: #000;
  display: none;
  text-align: center;
  padding: 2rem 2rem;
  overflow: auto;
}

/* .book-container:focus {
  outline: none;
} */

.book-container h1 {
  margin: 2rem 0;
  font-weight: 100;
  font-size: 3rem;
}

.book-container p {
  margin: 0 2rem;
}

.btn-close {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  height: 40px;
  width: 40px;
  position: sticky;
  top: 0;
  display: block;
  float: right;
}

.btn-close .cross {
  position: absolute;
  left: 20px;
  top: 5px;
  height: 30px;
  width: 1px;
  background-color: black;
  transform: rotate(45deg);
}

.btn-close .cross::before {
  content: '';
  height: 30px;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  display: block;
  transform: rotate(90deg);
}

.show {
  display: block;
}

.animate-text {
  animation: text var(--text-animtaion-duration);
}

.animate-text-reverse {
  animation: text var(--text-animtaion-duration) reverse;
}

@keyframes text {
  from {
    transform: translateY(30px);
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    visibility: visible;
  }
}

@media (max-width: 1000px) {
  .book-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }
}