:root {
  --book-animation-duration: 0.4s;
  --text-animation-duration: 0.3s;
}

#preview {
  position: fixed;
  top: 0;
  left: 20vw;
  height: 100vh;
  width: 60vw;
  display: block;
  z-index: -1;
}

.show {
  z-index: 1!important;
}

.opaque::before {
  content: '';
  background: #2A1B37;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 2;
}

#book-top {
  position: absolute;
  top: 0;
  left: 0;
  border: solid;
  border-width: 0 0 0 0;
  border-color: #333 transparent transparent transparent;
}

#book-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  border: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent #333 transparent;
}

.animate-top {
  animation: book-up-open var(--book-animation-duration) forwards;
}

.animate-bottom {
  animation: book-down-open var(--book-animation-duration) forwards;
}

.animate-top-reverse {
  animation: book-up-open var(--book-animation-duration) reverse;
}

.animate-bottom-reverse {
  animation: book-down-open var(--book-animation-duration) reverse;
}

@keyframes book-up-open {
  from {
    border-width: 50px 0 0 0;
    left: 50%;
  }
  to {
    border-width: 0 30vw 0 30vw;
    left: 0;
  }
}

@keyframes book-down-open {
  from {
    border-width: 0 0 50px 0;
    left: 50%;
  }
  to {
    border-width: 0 30vw 0 30vw;
    left: 0;
  }
}

/* Show inner Pages */

#book-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #000;
  text-align: center;
  padding: 2rem 2rem;
  overflow: auto;
}

#book-container h1 {
  margin: 2rem 0;
  font-weight: 100;
  font-size: 3rem;
}

#book-container section {
  margin: 1rem;
}

.hide-text {
  opacity: 0;
}

.animate-text {
  animation: text var(--text-animation-duration) forwards;
}

.keep-text {
  opacity: 1;
}

@keyframes text {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-close {
  cursor: pointer;
  height: 32px;
  width: 32px;
  position: sticky;
  top: 0;
  display: block;
  float: right;
  background-color: transparent;
  border: none;
}

.btn-close .cross {
  position: absolute;
  top: 0;
  left: 13px;
  height: 30px;
  width: 1px;
  background-color: black;
  transform: rotate(45deg);
}

.btn-close .cross::before {
  content: '';
  height: 30px;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  display: block;
  transform: rotate(90deg);
}


@media (max-width: 1000px) {
  #preview {
    left: 0;
    width: 100vw;
  }
  .animate-top-mobile {
    animation: book-up-mobile var(--book-animation-duration) forwards;
  }

  .animate-bottom-mobile {
    animation: book-down-mobile var(--book-animation-duration) forwards;
  }

  .animate-top-reverse-mobile {
    animation: book-up-mobile var(--book-animation-duration) reverse;
  }

  .animate-bottom-reverse-mobile {
    animation: book-down-mobile var(--book-animation-duration) reverse;
  }

  @keyframes book-up-mobile {
    from {
      border-width: 50px 0 0 0;
      left: 0;
    }
    to {
      border-width: 0 100vw 0 0;
      left: 0;
    }
  }

  @keyframes book-down-mobile {
    from {
      border-width: 0 0 50px 0;
      left: 0;
    }
    to {
      border-width: 0 100vw 0 0;
      left: 0;
    }
  }
}